.header{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 5rem;
  // border: 1px solid gray;
  .logo{
    width: 20%;
    text-align: center;
  }
  .menu{
    width: 60%;
    padding: 0 5rem;
    nav{
      ul{
        display: flex;
        justify-content: space-between;
        li{
          display: flex;
          align-items: center;
          img{
            width: 20px;
          }
        }
      }
    }
  }
  .cont-name{
    text-align: center;
    width: 20%;
  }
}
