article{
  h2{
    font-size: 20px;
    font-weight: bold;
  }
  p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  width: 19rem;
  background-color: rgb(209, 209, 209);
  border: 2px solid black;
  border-radius: 10px;
  height: 11rem;
  .footer-post{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(68, 68, 68);
  }
}
