<section class="sect-login">
  <app-nav content="Sign Up" link="/signup"></app-nav>
  <div class="cont-form">
    <form class="form" action="">
      <app-input type="email" placeholder="example@example.com" label="Email" [error]="'Invalid Email'"></app-input>
      <app-input type="password" placeholder="password" label="Password" [error]="'Incorred Password'"></app-input>
      <button class="btn" (click)="login()">Send</button>
    </form>
  </div>
  <app-footer class="footer"></app-footer>
</section>